*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-y: scroll;
	font-family: 'Poppins', sans-serif;
	color: #575859;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
}
.header {
	width: 100%;
	background: #fff5f5;
	margin-bottom: 100px;
}
.container {
	overflow: hidden;

	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.flex-div {
	width: 100%;
	display: flex;
}
.header__title {
	padding-top: 80px;
	max-width: 400px;
	text-align: center;
	position: relative;
}
.header__title::before {
	content: "👑";
	position: absolute;
	top: 80px;
	left: 1%;
	font-size: 28px;
}
.quote {
	border: 0.05em solid black;
	background: #fff;
	border-radius: 8px;
	position: relative;
	margin-top: 100px;
	max-width: 386px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.quote img {
	width: 75px;
	position: absolute;
	top: -2px;
	left: -80px;
}
.header__subtitle {
	font-size: 30px;
	letter-spacing: normal;

	padding: 20px;
}
.header__title span {
	color: #3988ff;
}
.header__left {
	position: relative;
	margin-top: 40px;
}
.button {
	padding-left: 0;
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #3988ff;
	text-align: center;
	margin-top: 11%;
	margin-left: 40px;
	position: relative;
	color: white;
	text-decoration: none;
}
.button p {
	padding-top: 16px;
}
.button:hover {
	transition: all .4s;
	color: #3988ff;
	background-color: #f1dddd;
}
.button::after {
	color: black;
	content: "Read the interview";
	display: inline-block;
	position: absolute;
	top: 33%;
	left: 79px;
	width: max-content;
}
.header__right {
	align-self: center;
}
.header__img {
	opacity: 0;
	width: 100%;
	transition: all 1.5s;
}

.fixed img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: fixed;
	right: 25px;
	bottom: 50px;
	cursor: pointer;
	border: 1px solid red;
	z-index: 100;
}
.fixed__text {
	position: fixed;
	right: 10px;
	bottom: 5px;
}
.hide__text {
	position: fixed;
	right: 550px;
	bottom: 5px;
	font-size: 40px;
	cursor: pointer;
}
.show__text {
	position: fixed;
	right: 10px;
	bottom: 15px;
	font-size: 40px;
	display: none;
	cursor: pointer;
}
.slide {
	width: 90%;
	display: none;
	background: #fff5f5;
	padding: 20px;
	border-radius: 10px;
	border: 0.5px dashed black;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}
.slider__title {
	text-align: center;
	margin-bottom: 130px;
}
.answer {
	padding-top: 10px;
}
.answer::before,
.question::before {
	content: "\2014";
}
.slider {
	margin-bottom: 150px;
}
.slider-container {
	position: relative;
	/* margin: 0 auto; */
	max-width: 80%;
	left: 15%;
}
.slide h3 {
	font-size: 20px;
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 45%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 5%;
}
.prev {
	left: -5%;
}

.timeline {
	background: #fff5f5;
	min-height: 400px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.timeline:not(:last-child) {
	margin-bottom: 100px;
}
.timeline__block {
	width: 80%;
	position: relative;
	margin: 0 auto;
}

.field {
	padding: 20px 70px 20px 70px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 15px;
	margin-bottom: 50px;
	border: 0.5px solid black;
}
.field input {
	-webkit-appearance: none;
	height: 3px;
	width: 100%;
	background: #000;
	border-radius: 10px;
	outline: none;
	border: none;
}
.field .value {
	position: absolute;
	font-size: 22px;
	font-weight: 600;
	color: #664aff;
	font-family: 'Lato', sans-serif;
}
.field .value.right {
	right: 7px;
}
.field .value.left {
	left: 7px;
}
.rangeValue {
	position: relative;
	width: 100%;
}
.rangeValue span {
	position: absolute;
	height: 45px;
	width: 45px;
	color: #fff;
	font-weight: 500;
	top: -62px;
	transform: translateX(-50%);
	line-height: 55px;
	z-index: 2;
	left: 8.3%;
}

.rangeValue span::after {
	content: "";
	position: absolute;
	height: 45px;
	width: 45px;
	background: #664aff;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	border: 3px solid #fff;
	padding: 30px;
	z-index: -1;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.field input::-webkit-slider-thumb {
	z-index: 100;
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: #664aff;
	border-radius: 50%;
	border: 1px solid #664aff;
	cursor: pointer;
}

.info_timeline {
	position: absolute;
	top: -35px;
	font-size: 24px;
	font-weight: 500;
}
.birth {
	left: 0px;
}
.now {
	right: -26px;
}
.date {
	display: none;
	padding-top: 30px;
}
.d1958 {
	display: block;
}
.add {
	position: absolute;
	font-size: 16px;
	top: 50px;
}
.add.one {
	left: 330px;
}
.add.one::after {
	content: "|";
	color: red;
	position: absolute;
	top: -39px;
	left: 51.5px;
}
.add.two {
	left: 457px;
	top: 50px;
	text-align: center;
}
.add.two::after {
	content: "|";
	color: red;
	position: absolute;
	top: -39px;
	left: 39px;
}
.add.three {
	left: 600px;
}
.add.three::after {
	content: "|";
	color: red;
	position: absolute;
	top: -39px;
	left: 23.5px;
}
.add.four {
	left: 700px;
}
.add.four::after {
	content: "|";
	color: red;
	position: absolute;
	top: -39px;
	left: 23px;
}
.timeline__info {
	background: #fff;
	width: 100%;
	border: 1px solid #664aff;
	border-radius: 30px;
}
ul li {
	list-style: none;
}
ul li::before {
	content: "";
	list-style: none;
}

.timeline__title {
	display: inline-block;
	width: 80%;
	margin: 0 190px 100px;
}
.info__date {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
	padding: 10px 0 0 15px;
	position: relative;
}
.info__date::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background: #664aff;
	top: 55px;
	left: 0;
}

.music {
	min-height: 1000px;
	margin-bottom: 200px;
}

.grid-block {
	max-width: 960px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 290px 290px 290px;
	column-gap: 45px;
	grid-template-rows: 323px 323px 323px;
	row-gap: 60px;
}
.song {
	position: relative;
	width: 290px;
}
.song-bg {
	position: absolute;
	top: 0;
	opacity: 0.6;
	width: 100%;
	height: 290px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(104px);
	border-radius: 39px;
	pointer-events: none;
}

.song img {
	width: 100%;
	opacity: 0.2;
	pointer-events: none;
}

.song img:hover .song-bg {
	opacity: 0;
	transition: all .3s;
}
.song img:hover img {
	transition: all .3s;
	opacity: 1;
}
.song img:hover .song-name {
	color: #3988ff;
}
.song h3 {
	text-align: center;
}
.music__title {
	display: inline-block;
	width: 80%;
	text-align: center;
	margin-left: 170px;
}

.footer {
	width: 100%;
	background-color: #050c26;
}
.footer h3 {
	color: white;
	padding-left: 15px;
	padding-top: 20px;
	font-size: 21px;
}
.footer-block {
	padding-left: 15px;
	padding-top: 20px;
	display: flex;
}
.link {
	padding: 0 15px;
	color: aliceblue;
	text-decoration: none;
	font-size: x-large;
	margin-bottom: 5px;
}
.footer hr {
	border: 0.5px solid white;
}
.footer p {
	display: inline-block;
	width: auto;
	color: white;
	float: right;
}

@media (max-width: 1360px) {
	.container {
		max-width: 1000px;
	}
	.header__img {
		padding-left: 50px;
	}
	.timeline__title {
		text-align: center;
		margin: 0px 65px 100px 110px;
	}
	.rangeValue span::after {
		left: 53%;
	}
	.rangeValue span {
		left: 9.9%;
	}
	.add.one {
		left: 271px;
	}
	.add.two {
		left: 374px;
		top: 26px;
		text-align: center;
	}
	.add.three {
		left: 491px;
	}
	.add.two::after {
		top: -15px;
	}
	.add.four {
		left: 573px;
	}
}

@media (max-width: 1160px) {
	.quote img {
		top: 90px;
		left: 104%;
	}
	.slider__title {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 29px;
		margin-bottom: 80px;
	}
}
@media (max-width: 1060px) {
	.grid-block {
		grid-template-columns: 290px 290px;
		max-width: 625px;
	}
	.grid-block #last {
		width: 290px;
		height: 321px;
		margin: 0 0 0 165px;
	}
	.song-bg {
		height: 290px;
	}
	.music__title {
		margin-left: 110px;
	}
}

@media (max-width: 1000px) {
	.header__title::before {
		display: none;
	}
	.quote {
		margin-left: 65px;
	}
	.quote h3 {
		font-size: 25px;
	}
	.quote img {
		top: 72px;
	}
	.button {
		margin-left: 115px;
	}
	.one,
	.two,
	.three,
	.four,
	.rangeValue span {
		display: none;
	}
}

@media (max-width: 987px) {
	.next {
		right: 3%;
	}
	.prev {
		left: -7%;
	}
}

@media (max-width: 850px) {
	.quote h3 {
		font-size: 21px;
	}
}

@media (max-width: 650px) {
	.header__title {
		padding-top: 100px;
		padding-left: 30px;
		font-size: 27px;
	}
	.next {
		right: 1%;
	}
	.prev {
		left: -9%;
	}
	.slide h3 {
		font-size: 18px;
	}
	.slide p {
		font-size: 16px;
	}
	.quote {
		margin-top: 60px;
	}
	.quote h3 {
		font-size: 16px;
	}
	.quote img {
		width: 60px;
	}
	.button {
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}
}

@media (max-width: 650px) {
	.grid-block {
		grid-template-columns: 290px;
		grid-template-rows: 290px;
		justify-content: center;
	}
	.grid-block #last {
		margin: 0;
	}
}

@media (max-width: 540px) {
	.show__text {
	}
	.hide__text {
		right: 516px;
		bottom: 23px;
	}
}

@media (max-width: 420px) {
	.header__title {
		padding-top: 0px;
		padding-left: 27px;
		font-size: 35px;
		z-index: 1;
	}
	.header {
		width: 100vw;
		overflow-x: hidden;
		z-index: -3;
	}
	.container {
		z-index: -3;
		width: 100vw;
	}
	.header__img {
		width: 365px;
		position: absolute;
		top: 450px;
		left: -100px;
		z-index: 0;
		opacity: 0.7;
	}
	.header__left {
		margin-top: 0;
	}
	.flex-div {
		z-index: -3;

		display: block;
	}
	.quote {
		z-index: 1;
		margin-right: 94px;
		margin-left: 26px;
	}
	.quote img {
		display: none;
	}
	.button {
		margin-left: 40px;
	}
	.button::after {
		left: 63px;
	}
	.slider__title {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 50px;
	}
	.prev {
		left: -14%;
	}
	.next {
		right: -4%;
	}
	.timeline__title {
		font-size: 26px;
		margin: 0px 0 100px 44px;
	}
	.music__title {
		font-size: 24px;
		margin-left: 50px;
	}

	.footer {
		height: 265px;
	}
	.footer h3 {
		font-size: 14px;
	}
	.footer-block a {
		font-size: 13px;
	}
	.footer p {
		font-size: 10px;
	}
	.footer-block {
		flex-direction: column;
	}
	.obolochka {
		position: relative;
	}
	.fixed img {
		display: block;
		width: 60px;
		height: 60px;
		z-index: 100;
		position: fixed;
		bottom: 50px;
		right: 10px;
	}
	.fixed__text {
		bottom: 273px;
		font-size: 12px;
		left: 70px;
		position: absolute;
	}
	.hide__text {
		bottom: 273px;
		font-size: 30px;
		left: 49px;
		position: absolute;
	}
	.show__text {
		bottom: 273px;
		font-size: 30px;
		left: 335px;
		position: absolute;
	}
}

@media (max-width: 280px) {
	.show__text {
		left: 255px;
	}
}
